{% extends 'home.html' %}


{% block mainbody %}

<section class="section is-medium column is-zero" style="margin-top: 0px;">
  <h1 class="title">Apple Nail Salon & Spa</h1>
 <div class="columns">
  <div class="column is-half">
    First column
  </div>
  <div class="column is-half">
    <p class="subtitle">This project was </p>
  </div>

</div>


</section>

    <section class="section is-medium column is-zero" style="margin-top: 0px;">
  <h1 class="title">The Book Club</h1>
  <h2 class="subtitle">
    A simple container to divide your page into <strong>sections</strong>, like the one you're currently reading.
  </h2>
</section>
{% endblock %}